USE [master]
GO
/****** Object:  Database [IndiaSoft]    Script Date: 25-02-2020 10:50:55 ******/
CREATE DATABASE [IndiaSoft]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IndiaSoft', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\IndiaSoft.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IndiaSoft_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\IndiaSoft_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IndiaSoft].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IndiaSoft]
GO
/****** Object:  User [IIS APPPOOL\IndiaSoft]    Script Date: 25-02-2020 10:50:55 ******/
CREATE USER [IIS APPPOOL\IndiaSoft] FOR LOGIN [IIS APPPOOL\IndiaSoft] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [IIS APPPOOL\IndiaSoft]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [IIS APPPOOL\IndiaSoft]
GO
/****** Object:  Table [dbo].[Information]    Script Date: 25-02-2020 10:50:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Information](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Designation] [varchar](50) NOT NULL,
	[CompanyName] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Phone Number] [varchar](50) NOT NULL,
	[comments] [nvarchar](max) NULL,
 CONSTRAINT [PK_Information] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
